flowsEnergy.json
[{"id":"5e581535.637d5c","type":"tab","label":"Energía","disabled":false,"info":""},{"id":"9234abe0.6a8b58","type":"function","z":"5e581535.637d5c","name":"chart","func":"var delayInMilliseconds = 1000; //1 second\n\n// tensión fase R-N  \nvar vri = msg.payload[0]*10;\nvar vrTrunc = Math.round(vri);\nvar vr= vrTrunc/10;\n\n// tensión fase S-N\nvar vsi = msg.payload[1]*10;\nvar vsTrunc = Math.round(vsi);\nvar vs= vsTrunc/10;\n\n// tensión fase T-N\nvar vti = msg.payload[2]*10;\nvar vtTrunc = Math.round(vti);\nvar vt= vtTrunc/10;\n\n// tensión línea R-S\nvar vrsi = msg.payload[3]*10;\nvar vrsTrunc = Math.round(vrsi);\nvar vrs= vrsTrunc/10;\n\n// tensión línea S-T\nvar vsti = msg.payload[4]*10;\nvar vstTrunc = Math.round(vsti);\nvar vst= vstTrunc/10;\n\n// tensión línea T-R\nvar vtri = msg.payload[5]*10;\nvar vtrTrunc = Math.round(vtri);\nvar vtr= vtrTrunc/10;\n\n// Corriente fase R\nvar iri = msg.payload[6]*10;\nvar irTrunc = Math.round(iri);\nvar ir= irTrunc/10;\n\n// Corriente fase S\nvar isi = msg.payload[7]*10;\nvar isTrunc = Math.round(isi);\nvar is= isTrunc/10;\n\n// Corriente fase T\nvar iti = msg.payload[8]*10;\nvar itTrunc = Math.round(iti);\nvar it= itTrunc/10;\n\n//Potencia fase R\nvar pri = msg.payload[12]/10;\nvar prTrunc = Math.round(pri);\nvar pr= prTrunc/10;\n\n//Potencia fase S\nvar psi = msg.payload[13]/10;\nvar psTrunc = Math.round(psi);\nvar ps= psTrunc/10;\n\n//Potencia fase T\nvar pti = msg.payload[14]/10;\nvar ptTrunc = Math.round(pti);\nvar pt= ptTrunc/10;\n\n//Potencia total aparente\nvar ptsi = msg.payload[31]/100;\nvar ptsTrunc = Math.round(ptsi);\nvar pts= ptsTrunc/10;\n\n//Potencia total activa\nvar ptpi = msg.payload[32]/100;\nvar ptpTrunc = Math.round(ptpi);\nvar ptp= ptpTrunc/10;\n\n//Potencia total reactiva\nvar ptqi = msg.payload[33]/100;\nvar ptqTrunc = Math.round(ptqi);\nvar ptq= ptqTrunc/10;\n\n//Factor de potencia \nvar pf = msg.payload[34]*100;\nvar pfTrunc = Math.round(value);\nvar pft= valueTrunc/100;\n\n//Tensiones de línea\nvar msgvrs={};\nmsgvrs.payload = vrs;\nmsgvrs.topic = 'U L1-L2';\nvar msgvst={};\nmsgvst.payload = vst;\nmsgvst.topic = 'U L2-L3';\nvar msgvtr={};\nmsgvtr.payload = vtr;\nmsgvtr.topic = 'U L3-L1';\n\n//Tensiones de fase\nvar msgvr={};\nmsgvr.payload = vr;\nmsgvr.topic = 'Vr';\nvar msgvs={};\nmsgvs.payload = vs;\nmsgvs.topic = 'Vs';\nvar msgvt={};\nmsgvt.payload = vt;\nmsgvt.topic = 'Vt';\n\n//Corrientes\nvar msgir={};\nmsgir.payload = ir;\nmsgir.topic = 'IL1';\nvar msgis={};\nmsgis.payload = is;\nmsgis.topic = 'IL2';\nvar msgit={};\nmsgit.payload = it;\nmsgit.topic = 'IL3';\n\n//Potencias x fase\nvar msgpr={};\nmsgpr.payload = pr;\nmsgpr.topic = 'PL1';\nvar msgps={};\nmsgps.payload = ps;\nmsgps.topic = 'PL2';\nvar msgpt={};\nmsgpt.payload = pt;\nmsgpt.topic = 'PL3';\n\n//Potencias totales\nvar msgpts={};\nmsgpts.payload = pts;\nmsgpts.topic = 'Stot';\nvar msgptp={};\nmsgptp.payload = ptp;\nmsgptp.topic = 'Ptot';\nvar msgptq={};\nmsgptq.payload = ptq;\nmsgptq.topic = 'Qtot';\n\n//factor de potencia\nvar msgpft={};\nmsgpft.payload = pft;\nmsgpft.topic = 'FPt';\n\n\nsetTimeout(function() {\n  //your code to be executed after 1 second\n}, delayInMilliseconds);\n\nreturn [msgvr,msgvs,msgvt,msgvrs,msgvst,msgvtr,msgir,msgis,msgit,msgpr,msgps,msgpt,msgptp,msgpts,msgptq,msgpft];\n\n    \n\n\n\n\n","outputs":16,"noerr":0,"x":510,"y":320,"wires":[[],[],[],["2194fa02.04f346","8579e716.915068"],["8579e716.915068","57af924f.2f5ebc"],["8579e716.915068","6d27dc6f.967894"],["a243dd4f.85533","ddc14cce.5eb1c"],["63d3f1c0.a55aa","ddc14cce.5eb1c"],["6f49395e.43a0c8","ddc14cce.5eb1c"],[],[],[],["4279d4ae.0407cc","baa9f96c.abc548"],["8351acad.debad","4279d4ae.0407cc"],["31d44a11.2631c6","4279d4ae.0407cc"],["3fa6cf1b.073b","7de59e4b.3c4e5"]]},{"id":"86ee35ed.2504c8","type":"modbustcp-read","z":"5e581535.637d5c","name":"energymet","topic":"pac","dataType":"HoldingRegister","adr":"1","quantity":"100","rate":"5","rateUnit":"s","server":"1dee767f.5874da","ieeeType":"single","ieeeBE":"true","x":110,"y":300,"wires":[["fe660675.e4a4c8","1498a05d.0d4da"]]},{"id":"4279d4ae.0407cc","type":"ui_chart","z":"5e581535.637d5c","name":"","group":"3b3272f1.cd2e4e","order":4,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#000000","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":460,"wires":[[]]},{"id":"fe660675.e4a4c8","type":"debug","z":"5e581535.637d5c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":330,"y":220,"wires":[]},{"id":"6eabb3a5.f9d2dc","type":"status","z":"5e581535.637d5c","name":"","scope":["86ee35ed.2504c8"],"x":100,"y":420,"wires":[["58e2fbc2.12bae4"]]},{"id":"58e2fbc2.12bae4","type":"change","z":"5e581535.637d5c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"Connected","fromt":"str","to":"Conexión ok","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Disconnected","fromt":"str","to":"Error falla de comunicación.","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Polling: HoldingRegister","fromt":"str","to":"Conectando","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":420,"wires":[["543408a.de1fdf8"]]},{"id":"73bd85fb.d409cc","type":"ui_toast","z":"5e581535.637d5c","position":"top right","displayTime":"10","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"topic":"Medidor de energía:","name":"","x":530,"y":580,"wires":[]},{"id":"543408a.de1fdf8","type":"switch","z":"5e581535.637d5c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Error falla de comunicación.","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":480,"wires":[["2444ee26.ed7d82"]]},{"id":"2444ee26.ed7d82","type":"delay","z":"5e581535.637d5c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":540,"wires":[["9234abe0.6a8b58","73bd85fb.d409cc"]]},{"id":"2194fa02.04f346","type":"ui_artlessgauge","z":"5e581535.637d5c","group":"be0d40d3.85677","order":1,"width":0,"height":0,"name":"","icon":"fa-bolt","label":"L1-2","unit":"volts","layout":"radial","decimals":"1","differential":false,"minmax":true,"colorTrack":"#555555","colorFromTheme":true,"property":"payload","sectors":[{"val":0,"col":"#ff9900","t":"min","dot":1},{"val":350,"col":"#00f028","t":"sec","dot":1},{"val":415,"col":"#ff0000","t":"sec","dot":1},{"val":500,"col":"#ff0000","t":"max","dot":1}],"lineWidth":"5","bgcolorFromTheme":false,"diffCenter":"","x":780,"y":100,"wires":[]},{"id":"a243dd4f.85533","type":"ui_artlessgauge","z":"5e581535.637d5c","group":"6f28247c.08348c","order":1,"width":0,"height":0,"name":"","icon":"fa-bolt","label":"IL1-2","unit":"Amp","layout":"radial","decimals":"1","differential":false,"minmax":false,"colorTrack":"#555555","colorFromTheme":true,"property":"payload","sectors":[{"val":0,"col":"#ff9900","t":"min","dot":0},{"val":10,"col":"#ff9900","t":"max","dot":0}],"lineWidth":"5","bgcolorFromTheme":false,"diffCenter":"","x":780,"y":300,"wires":[]},{"id":"63d3f1c0.a55aa","type":"ui_artlessgauge","z":"5e581535.637d5c","group":"6f28247c.08348c","order":2,"width":0,"height":0,"name":"","icon":"fa-bolt","label":"IL2-3","unit":"Amp","layout":"radial","decimals":"1","differential":false,"minmax":false,"colorTrack":"#555555","colorFromTheme":true,"property":"payload","sectors":[{"val":0,"col":"#ff9900","t":"min","dot":0},{"val":10,"col":"#ff9900","t":"max","dot":0}],"lineWidth":"5","bgcolorFromTheme":false,"diffCenter":"","x":780,"y":340,"wires":[]},{"id":"6f49395e.43a0c8","type":"ui_artlessgauge","z":"5e581535.637d5c","group":"6f28247c.08348c","order":3,"width":0,"height":0,"name":"","icon":"fa-bolt","label":"IL3-1","unit":"Amp","layout":"radial","decimals":"1","differential":false,"minmax":false,"colorTrack":"#555555","colorFromTheme":true,"property":"payload","sectors":[{"val":0,"col":"#ff9900","t":"min","dot":0},{"val":10,"col":"#ff9900","t":"max","dot":0}],"lineWidth":"5","bgcolorFromTheme":false,"diffCenter":"","x":780,"y":380,"wires":[]},{"id":"baa9f96c.abc548","type":"ui_artlessgauge","z":"5e581535.637d5c","group":"3b3272f1.cd2e4e","order":1,"width":0,"height":0,"name":"","icon":"fa-bolt","label":"Pt","unit":"kw","layout":"radial","decimals":"1","differential":false,"minmax":false,"colorTrack":"#555555","colorFromTheme":true,"property":"payload","sectors":[{"val":0,"col":"#ff9900","t":"min","dot":0},{"val":10,"col":"#ff9900","t":"max","dot":0}],"lineWidth":"5","bgcolorFromTheme":false,"diffCenter":"","x":780,"y":500,"wires":[]},{"id":"8351acad.debad","type":"ui_artlessgauge","z":"5e581535.637d5c","group":"3b3272f1.cd2e4e","order":3,"width":0,"height":0,"name":"","icon":"fa-bolt","label":"St","unit":"kva","layout":"radial","decimals":"1","differential":false,"minmax":false,"colorTrack":"#555555","colorFromTheme":true,"property":"payload","sectors":[{"val":0,"col":"#ff9900","t":"min","dot":0},{"val":10,"col":"#ff9900","t":"max","dot":0}],"lineWidth":"5","bgcolorFromTheme":false,"diffCenter":"","x":780,"y":540,"wires":[]},{"id":"31d44a11.2631c6","type":"ui_artlessgauge","z":"5e581535.637d5c","group":"3b3272f1.cd2e4e","order":2,"width":0,"height":0,"name":"","icon":"fa-bolt","label":"Qt","unit":"kvar","layout":"radial","decimals":"1","differential":false,"minmax":false,"colorTrack":"#555555","colorFromTheme":true,"property":"payload","sectors":[{"val":0,"col":"#ff9900","t":"min","dot":0},{"val":10,"col":"#ff9900","t":"max","dot":0}],"lineWidth":"5","bgcolorFromTheme":false,"diffCenter":"","x":780,"y":580,"wires":[]},{"id":"3fa6cf1b.073b","type":"ui_artlessgauge","z":"5e581535.637d5c","group":"a99994f1.cf9808","order":2,"width":2,"height":2,"name":"","icon":"fa-bolt","label":"","unit":"","layout":"radial","decimals":"2","differential":false,"minmax":false,"colorTrack":"#555555","colorFromTheme":true,"property":"payload","sectors":[{"val":-1,"col":"#ff9900","t":"min","dot":0},{"val":1,"col":"#ff9900","t":"max","dot":0}],"lineWidth":"5","bgcolorFromTheme":false,"diffCenter":"","x":780,"y":700,"wires":[]},{"id":"8579e716.915068","type":"ui_chart","z":"5e581535.637d5c","name":"","group":"be0d40d3.85677","order":4,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#490fd2","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":60,"wires":[[]]},{"id":"ddc14cce.5eb1c","type":"ui_chart","z":"5e581535.637d5c","name":"","group":"6f28247c.08348c","order":4,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#fa0505","#14e605","#6929e0","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":260,"wires":[[]]},{"id":"7de59e4b.3c4e5","type":"ui_chart","z":"5e581535.637d5c","name":"","group":"a99994f1.cf9808","order":6,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#0dd3d0","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":660,"wires":[[]]},{"id":"57af924f.2f5ebc","type":"ui_artlessgauge","z":"5e581535.637d5c","group":"be0d40d3.85677","order":2,"width":0,"height":0,"name":"","icon":"fa-bolt","label":"L2-3","unit":"volts","layout":"radial","decimals":"1","differential":false,"minmax":true,"colorTrack":"#555555","colorFromTheme":true,"property":"payload","sectors":[{"val":0,"col":"#ff9900","t":"min","dot":1},{"val":350,"col":"#00f028","t":"sec","dot":1},{"val":415,"col":"#ff0000","t":"sec","dot":1},{"val":500,"col":"#ff0000","t":"max","dot":1}],"lineWidth":"5","bgcolorFromTheme":false,"diffCenter":"","x":780,"y":140,"wires":[]},{"id":"6d27dc6f.967894","type":"ui_artlessgauge","z":"5e581535.637d5c","group":"be0d40d3.85677","order":3,"width":0,"height":0,"name":"","icon":"fa-bolt","label":"L3-1","unit":"volts","layout":"radial","decimals":"1","differential":false,"minmax":true,"colorTrack":"#555555","colorFromTheme":true,"property":"payload","sectors":[{"val":0,"col":"#ff9900","t":"min","dot":1},{"val":350,"col":"#00f028","t":"sec","dot":1},{"val":415,"col":"#ff0000","t":"sec","dot":1},{"val":500,"col":"#ff0000","t":"max","dot":1}],"lineWidth":"5","bgcolorFromTheme":false,"diffCenter":"","x":780,"y":180,"wires":[]},{"id":"1498a05d.0d4da","type":"delay","z":"5e581535.637d5c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":300,"wires":[["9234abe0.6a8b58"]]},{"id":"5c92e942.0c8348","type":"comment","z":"5e581535.637d5c","name":"cannection status","info":"","x":120,"y":380,"wires":[]},{"id":"28329b7a.f94f24","type":"comment","z":"5e581535.637d5c","name":"function data modbus","info":"O1: UL1\nO2: UL2\nO3: UL3\nO4: UL1-2\nO5: UL2-3\nO6: UL3-1\nO7: IL1\nO8: IL2\nO9: IL3\nO10: Pl1\nO11: PL2\nO12: PL3\nO13: Pt\nO14: Qt\nO15: St\nO16: PFt\n","x":520,"y":140,"wires":[]},{"id":"31b49c4f.3bb044","type":"comment","z":"5e581535.637d5c","name":"tensión","info":"","x":750,"y":20,"wires":[]},{"id":"a29c50b8.5811c","type":"comment","z":"5e581535.637d5c","name":"Notification - error","info":"","x":530,"y":540,"wires":[]},{"id":"aa66850d.3ce7d8","type":"comment","z":"5e581535.637d5c","name":"Corriente","info":"","x":760,"y":220,"wires":[]},{"id":"c9296c37.04aa7","type":"comment","z":"5e581535.637d5c","name":"Potencia","info":"","x":760,"y":420,"wires":[]},{"id":"90c6dc77.ab01d","type":"comment","z":"5e581535.637d5c","name":"Factor de Potencia","info":"","x":790,"y":620,"wires":[]},{"id":"943b5db4.eefbf","type":"comment","z":"5e581535.637d5c","name":"SENTRON PAC3200","info":"","x":140,"y":200,"wires":[]},{"id":"1dee767f.5874da","type":"modbustcp-server","z":"","name":"Energy","host":"181.230.147.199","port":"502","unit_id":"1","reconnecttimeout":"15"},{"id":"3b3272f1.cd2e4e","type":"ui_group","z":"","name":"Potencia","tab":"9a892139.5cff3","order":5,"disp":true,"width":"6","collapse":true},{"id":"be0d40d3.85677","type":"ui_group","z":"","name":"Tensión","tab":"9a892139.5cff3","order":2,"disp":true,"width":"6","collapse":true},{"id":"6f28247c.08348c","type":"ui_group","z":"","name":"Corriente","tab":"9a892139.5cff3","order":3,"disp":true,"width":"6","collapse":true},{"id":"a99994f1.cf9808","type":"ui_group","z":"","name":"Factor de potencia","tab":"9a892139.5cff3","order":7,"disp":true,"width":6,"collapse":true},{"id":"9a892139.5cff3","type":"ui_tab","z":"","name":"Energía","icon":"fa-tachometer","order":1,"disabled":false,"hidden":false}]